html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.progress-container {
    background: #eee;
    width: 50%;
    height: 20px;
    border-radius: 5px;
    margin-top: 5px;
}

.progress-bar {
    background: green;
    height: 100%;
    border-radius: 5px 0 0 5px;
    transition: width 0.4s;
}

#barsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#barsList li {
    margin-bottom: 15px;
}